
.homeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -100px;

}
.projectsContainer{
    display: flex;
    position: absolute;
    width: 100%;
    margin-top: 10%;
    left: -90px;
}

.title p{
    font-size: 96px;
    font-family: "Dela Gothic One", serif;
    color:#473E4F;
    line-height: 1.1;
    position: relative;
    margin:0px;
}
.Dela{
    font-size: 48px;
    font-family: "Dela Gothic One", serif;
    color:#473E4F;
    line-height: 1.1;
    position: relative;
    margin:0;
}
.aboutus{
    font-size: 48px;
    font-family: "Dela Gothic One", serif;
    color:#473E4F;
    line-height: 1.1;
    position: relative;
    margin:0;
}
.optimaaboutus{
    font-family: 'Optima';
    font-size: 24px;
}
.title{
    position: relative;
    margin-top: 140px;
}

.first{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    align-items: start;
    /* background-image: url('../assets/bghome.webp'); */
}
.Jura{
    font-family: "Jura";
    font-weight: 700;
    color: #473E4F;
    position: relative;
    text-align: left;
}
.uppermain{
    font-family: "Jura";
    font-weight: 700;
    color: #473E4F;
    position: relative;
    font-size: 36px;
    margin-top: 50px;
    display: flex;
}
.text{
    display: flex;
    flex-direction: column;
    max-width: 20%;
    margin:40px 60px;
}
.second{
    height: 920px;
    width: 96%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 120px;
}
.box{
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.164);
    min-height: 720px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.third{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
/* .projectscnt{
    position: absolute;
    z-index: 998;
} */
.fourth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}
.teamsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.firsttext{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    position: absolute;
    margin-left: 4%;
    margin-top: 6%;
}
.usualimage{
    width: 800px;
}
@media(max-width: 1820px){
    .title p{
        font-size: 84px;
    }
    .uppermain{
        font-size: 24px;
        position: relative;
    }

}

@media(max-width: 1680px){

    .title p{
        font-size: 72px;
        margin-left: 0px;
    }
    .uppermain{

        font-size: 22px;
        position: relative;
    }
    .box{
        min-height: 620px;
    }

}

@media(max-width: 1460px){

    .title p{
        font-size: 64px;
    }
    .uppermain{
        font-size: 20px;
        margin-top: 30px;
        position: relative;
    }
    .aboutus{
        font-size: 36px;

    }
    .optimaaboutus{
        font-size: 20px;
    }
    .usualimage{
        width: 600px;
    }
    .second{
        height: 600px;
    }
}

@media(max-width: 1280px){
    .firsttext{
        margin-top: 4%;
    }
    .uppermain{
        margin-left: 0%;
        font-size: 18px;
        margin-top: 30px;
        position: relative;
    }

}
