
.homeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.title p{
    font-size: 96px;
    font-family: "Dela Gothic One", serif;
    color:#473E4F;
    line-height: 1.1;
    position: relative;
    margin:0;
}
.Dela{
    font-size: 48px;
    font-family: "Dela Gothic One", serif;
    color:#473E4F;
    line-height: 1.1;
    position: relative;
    margin:0;
}
.title{
    position: relative;
    margin-top: 140px;
    margin-left: 60px;
}

.first{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom:60px;
    /* background-image: url('../assets/bghome.webp'); */
}
.Jura{
    font-family: "Jura";
    font-weight: 700;
    color: #473E4F;
    position: relative;
}
.text{
    display: flex;
    flex-direction: column;
    max-width: 20%;
    margin:40px 60px;
}
.second{
    height: 920px;
    width: 96%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 120px;
}
.box{
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.164);
    min-height: 720px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.third{
    max-height: 840px;
}

.fourth{
    max-height: 920px;
    max-width: 1880px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px 0px;
}
.teamsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}