.cnt {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2%;
}

.projcard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.164);
  border-radius: 20px;
  padding: 40px;
  transition: background-color 0.2s;
}
@media screen and (max-width: 850px) {
  .projcard {
      flex-direction: column;
      height: 300px;
  }

}
@media screen and (max-width: 670px) {
  .projcard img {
    width: 250px !important;
    margin-left: 10px;
  }
  .Jura {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 570px) {
    .projcard img {
      margin-left: 30px;
      margin-right: -10px;
    }
    .Jura {
      font-size: 15px !important;
    }
}
@media screen and (max-width: 480px) {
    .projcard img {
      margin-right: -20px;
      width: 200px !important; 
    }
}
@media screen and (max-width: 400px) {
    .projcard img {
      margin-right: -30px;
    }
}
.projcard:hover {
  background-color: #d3d3d3;
  cursor: pointer;
}

.projcard:hover .project-button::after {
  top: 0px;
  left: 0px;
}

.textproj {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;
  line-height: 0.9;
  max-width: 380px;
}

.project-button {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.project-button::after {
  content: '';
  background-color: #ffd900;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.project-button-text {
  font-family: 'Jura', sans-serif;
  font-size: 14px;
  position: absolute;
  left: 20px;
  bottom: 10px;
}
@media (min-width: 768px) {
  .project-button {
    padding: 13px 50px 13px;
  }
}
