
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  
}
h1{
    font-family: "Jura";
    font-size: 24px;
    margin:20px;
    filter: drop-shadow(2px 2px 12px rgb(0, 0, 0));
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 620px;
  height: 400px;
  background-color: #eee;
}